.register-role-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  /* overflow: hidden; */
  /* height: 60vh; */
}

.register-role-box {
  width: 100vw;
  /* padding: 20px; */
  /* background-color: #fff;
  border: 1px solid #ddd; */
  /* border-radius: 4px; */
}

.register-role-form {
  margin-top: 100px;
}
.content{
    margin: auto auto;
}

.btn-create{
    background-color: #BA161C;
}


