.tabs{
    .ant-tabs {
       .ant-tabs-tab{
        font-size: 18px;
       }
    }
    .ant-tabs-tab-btn{
         font-family: 'Gentium Book Plus', serif;
    }
}

.header{
    .wrapper{
        .user-dropdown{
            a{
                cursor: pointer;
            }
        }
    }
}