@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&display=swap");

.Timeline {
  background-image: url(../../assets/hoatiet4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  // opacity: 0.5;
}
// .Timeline::before {
//   background-color: rgba(0, 0, 0, 0.5);
// }
// .Timeline::after {
//   filter: opacity(50%);
// }

.Timeline-card {
  // background-image: url(../../assets/trongdong2.png);
  width: 78%;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}
.card {
  border: none;
  border-radius: unset;
  height: auto;
  min-height: 325px;
  background-color: #fef7f7;
}
.card-top {
  color: rgb(5, 135, 196);
  margin: 2% 0 2% 4%;
}
.card-bottom {
  font-size: 14px; // Điều chỉnh kích thước phông chữ
  font-weight: normal;
  margin: 0 4%;
}

.arrow {
  font-size: 30px;
  top: 50%;
  position: absolute;
  color: rgb(254, 178, 37);
}
.arrow-right {
  // right: 0px;
  left: 100%;
}

.arrow-left {
  right: 100%;
  // left: 0px;
}
.arrow:hover {
  cursor: pointer;
}

// .slick-dots {
//   top: -5%;
//   color: #ffc107;
// }
// .custom-dots {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 30px;
//   height: 30px;
//   margin: 0 5px;
//   background-color: #eaeaea;
//   border-radius: 50%;
//   cursor: pointer;
//   transition: background-color 0.3s ease;

//   &.visible {
//     background-color: #ccc;
//   }

//   span {
//     color: #000;
//     font-size: 14px;
//     font-weight: bold;
//   }
// }
.slick-dots {
  // top: -5%;
  color: #ffc107;
  display: flex;
  text-align: center;
  justify-content: center;
}
.timeline-content-textbelow {
  margin-left: 10%;
  margin-top: 100px;
}
.timeline-content-textbelow h1 {
  font-family: Petrona;
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 50px;
}
.timeline-content-textbelow h2 {
  font-family: Petrona;
  font-weight: bold;
  font-size: 32px;
}
.timeline-content-textbelow p {
  font-family: Petrona;
  font-size: 18px;
}
.pagination {
  justify-content: center;
  display: flex;
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: #212529;
  --bs-pagination-bg: var(--bs-body-bg);
  --bs-pagination-border-width: var(--bs-border-width);
  --bs-pagination-border-color: var(--bs-border-color);
  --bs-pagination-border-radius: var(--bs-border-radius);
  --bs-pagination-hover-color: #d9363e;
  --bs-pagination-hover-bg: var(--bs-tertiary-bg);
  --bs-pagination-hover-border-color: var(--bs-border-color);
  --bs-pagination-focus-color: #dc3545;
  --bs-pagination-focus-bg: var(--bs-secondary-bg);
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #dc3545;
  --bs-pagination-active-border-color: #dc3545;
  --bs-pagination-disabled-color: var(--bs-secondary-color);
  --bs-pagination-disabled-bg: var(--bs-secondary-bg);
  --bs-pagination-disabled-border-color: var(--bs-border-color);
}

//==================
h6 {
  font-family: "Gentium Book Plus", serif;
}
.article {
  &:hover {
    box-shadow: 0 0.0625rem 20px 0 rgba(0, 0, 0, 0.05);
    -webkit-transform: translateY(-0.0625rem);
    transform: translateY(-0.0625rem);
  }
  .wrapper {
    cursor: pointer;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.125rem;
    padding: 0.3rem;
    display: flex;

    .text {
      margin-top: auto;
    }
  }
}

.text {
  .ant-col {
    .ant-col-offset-1 {
      gap: 25px;
      display: flex;
      flex-direction: column;
    }
  }

  .wrapper {
    padding: 18px;
  }

  .article {
    width: calc(90%);
    margin-bottom: 20px;
  }

  .image {
    min-height: auto;
    min-width: 32%;
    margin: 0 auto;
    .img {
      min-width: 90%;
      max-height: 100%;
      background-color: white;
      object-fit: contain;
    }
  }
}
@media screen and (max-width: 600px) {
  .slick-dots {
    display: none;
  }
  .article {
    flex: auto;
    width: calc(100% - 8px);
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 800px) and (min-width: 601px) {
  .article {
    flex: auto;
    width: calc(25% - 8px);
    flex-wrap: wrap;
  }
}
