@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&display=swap");

.Timeline {
  background-image: url(../../assets/hoatiet4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
}

.Timeline-card {
  width: 78%;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}
.card {
  border: none;
  border-radius: unset;
  height: auto;
  min-height: 325px;
  background-color: #fef7f7;
}
.card-top {
  color: rgb(5, 135, 196);
  margin: 2% 0 2% 4%;
}
.card-bottom {
  font-size: 14px; // Điều chỉnh kích thước phông chữ
  font-weight: normal;
  margin: 0 4%;
}

.arrow {
  font-size: 30px;
  top: 50%;
  position: absolute;
  color: rgb(254, 178, 37);
}
.arrow-right {
  // right: 0px;
  left: 100%;
}

.arrow-left {
  right: 100%;
  // left: 0px;
}
.arrow:hover {
  cursor: pointer;
}

h6:hover {
  cursor: pointer;
}
.slick-dots {
  color: #ffc107;
  display: flex;
  text-align: center;
  justify-content: center;
}

//==================
h6 {
  font-family: "Gentium Book Plus", serif;
}
.article {
  &:hover {
    box-shadow: 0 0.0625rem 20px 0 rgba(0, 0, 0, 0.05);
    -webkit-transform: translateY(-0.0625rem);
    transform: translateY(-0.0625rem);
  }
  .wrapper {
    cursor: pointer;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.125rem;
    padding: 0.3rem;
    display: flex;

    .text {
      margin-top: auto;
    }
  }
}

.text {
  .ant-col {
    .ant-col-offset-1 {
      gap: 25px;
      display: flex;
      flex-direction: column;
    }
  }

  .wrapper {
    padding: 18px;
  }

  .article {
    width: calc(90%);
    margin-bottom: 20px;
  }

  .image {
    min-height: auto;
    min-width: 32%;
    margin: 0 auto;
    .img {
      min-width: 90%;
      max-height: 100%;
      background-color: white;
      object-fit: contain;
    }
  }
}
@media screen and (max-width: 600px) {
  .slick-dots {
    display: none;
  }
  .article {
    flex: auto;
    width: calc(100% - 8px);
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 800px) and (min-width: 601px) {
  .article {
    flex: auto;
    width: calc(25% - 8px);
    flex-wrap: wrap;
  }
}
