@import url("https://fonts.googleapis.com/css2?family=Petrona:wght@700&display=swap");
.layoutAdmin {
  overflow-x: hidden;

  &__title {
    font-family: "Petrona", sans-serif;
  }

  &__header {
    &__welcome {
      height: 50px;
      //border-bottom: 1px solid #ebebeb;
      display: flex;
      align-items: center;
      padding: 0 15px;
      position: absolute;
      right: 50px;
      margin-right: 15px;
    }
  }

  .ant-menu-item {
    margin-top: 12px;
  }

  .ant-divider {
    margin: auto;
  }
}
// .ant-menu-submenu.ant-menu-submenu-inline{
//   margin-top: 20px;
// }
// .ant-menu-title-content {
a {
  text-decoration: none !important;
}
// }
