.timeline-event-description {
  margin-left: 10%;
  margin-top: 100px;
}
.timeline-event-p {
  font-size: 18px;
  line-height: 28px;
  font-family: "Petrona";
}
.timeline-event-title {
  font-family: "Petrona";
  font-size: 48px;
  line-height: 1.1;
  margin: 12px 0;
}
.timeline-event-subtitle {
  font-weight: bold;
  font-family: "Petrona";
  font-size: 32px;
  margin-top: 55px;
  margin-bottom: 30px;
}
