.fullHeader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.header {
  background-image: url(../../assets/trongdong.png);
  background-size: cover;
  background-position: center;
  padding: 15px 0;
}
.search-bar input {
  float: right;
}
.search-bar {
}
.search {
  justify-content: center;
}

#register {
  a {
    padding: 8px 19px;
    text-decoration: none;
    color: #fff;
    background-color: #ba161c;
    border-radius: 8px;
  }
}
#login a {
  padding: 8px 7.2px;
  text-decoration: none;
  color: #fff;
  background-color: #ba161c;
  border-radius: 8px;
}

#main {
  height: 50px;
  background-color: #080808;
}
#nav {
  position: relative;
  li {
    display: inline-block;
    margin: 0 8%;
    a {
      color: #fff;
      text-decoration: none;
      line-height: 50px;
      display: inline-block;
      padding: 0 24px;
    }
  }
}
.more {
  // float: right;
  margin-left: 100%;
}
#nav > li:hover > a {
  color: #bab729;
  background-color: #fff;
}
#nav li:hover .subnav {
  display: inline-block;
}
#nav .subnav {
  top: 100%;
  // right: 0
  position: absolute;
  display: none;
  color: #fff;
  background-color: #080808;
  box-shadow: 0 0 10px rgba(0, 0, 0.3);
}
#nav .subnav li:hover a {
  background-color: #fff;
  color: #bab729;
}
