
.navbar-custom {
  background-image: url("../../assets/header.png");
  background-size: cover;
}
.ant-btn {
    background-color: #ba161c;  
    color: #ffff;
}

.btn{
  position: absolute;
  right: 50px;
  top: 10px;
}

 /* header.scss */
.input-search{
     position: absolute;
    right: 188px;
}

.navbar-rightside{
      margin-bottom: auto;
}

img{
  width: 60px;
  height: auto;
  margin: auto;
}



@media (max-width: 767px) {
  .sub-navbar {
    display: none;
  }

  .navbar-custom .navbar-toggler {
    display: block;
  }
  .input-search{
    display: none;
  }
  .btn-login{
    display: block;
    right: 4px;
  }
  .logo{
   display: block;
   left: 2px;
  }
 
}

.ant-btn:hover {
  background-color: #E3E186; /* Thay đổi màu nền khi hover vào */
  color: #030303; /* Thay đổi màu chữ khi hover vào */
}

@media (min-width: 768px) {
  .navbar-custom .navbar-toggler {
    display: none;
  }
  .logo{
   margin-left: 3rem;
  }
}

.dropdown-toggle.nav-link::after {
  display: none;
}


