.footer {
  background-color: #ffffff;
  color: black;
  position: absolute;
  // bottom: 0;
  left: 0;
  right: 0;
  // width: 100%;
  // overflow-x:hidden ;
}
.footer-about {
  font-size: small;
  padding: 0 25px;
}

.d-flex {
  align-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .col-md-6 {
    h6 {
      display: none;
    }
    p {
      display: none;
    }
  }

  .footer-contact {
    // display: block;
    position: absolute;
    right: 0px;
  }

  .footer-logo {
    display: block;

    // position: absolute;
    left: 2px;
  }
}
