@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300&display=swap');

.banner-homepage {
  position: relative;
  background-image: url(../../assets/Rectangle.png);
  background-size: cover; /* kích thước hình ảnh nền dựa trên tỷ lệ khung hình */
  background-position: center; /* căn chỉnh hình ảnh nền vào giữa khung */
  background-repeat: no-repeat;
  display: flex;
}

.map-button:hover {
  fill: yellow;
  cursor: pointer;
}
text{
  font-family: 'Roboto Serif', serif;
}

.mapsvg-homepage {
  margin-left: 10%;
  margin-top: 5%;
  //   width: 120%;
}
.text-banner-homepage {
  float: right;
  height: 75%;
  //   width: 100%;
  margin-top: 374px;
  margin-right: 3%;
}
.border-hover {
  color: #000;
  text-anchor: end;
  dominant-baseline: hanging;
  pointer-events: none;
  z-index: 100;
}
.hover-text {
  fill: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  border: 1px solid black;
  border-radius: 12px;
  font-weight: bold;
  text-anchor: end;
  dominant-baseline: hanging;
  pointer-events: none;
  // color: blue;
}
.hover-text--h13 {
  transform: translate(10px, 10px);
}
.banner-text1 {
  position: absolute;
  top: 40%;
  right: 20%;
}
.banner-text2 {
  position: absolute;
  top: 48%;
  right: 15%;
}
